configuration {
    font:                           "Fira Sans 13";
    hover-select:                   true;
    me-select-entry:                "";
    me-accept-entry:                "MousePrimary";
}

* {
    background-color:               transparent;
    background:                     transparent;
    text-color:                     white;
}